/*************************************************************
 *	
 *************************************************************/

body {
    background: url("purple_background_3.jpg") repeat-x scroll 0 0 transparent; 
	background-color: #3d1039;
    color: #FFFFFF;
    font: 12px/135% Trebuchet MS,Verdana,Tahoma,Arial;
    letter-spacing: 0.026em;
}

a {
	color:#DC0067;
	/*font-size:15px;
	text-decoration:none;*/
}

a:link {
	color: #DC0067; 
	/*text-decoration:none;
	font-size:15px;*/
}

a:hover {
	color:#EAA61A; 
}

a:active {
	color:#EAA61A;
	/*Disable the link*/
	/*pointer-events: none;
   	cursor: default;*/
}

.container {
	margin: 0 auto; /*shorthand property for all the margin properties in one. The margin clears an area around an element*/
	margin-top: 30px; /*30px from the top*/
	width: 955px; /*The width property sets the width of an element*/
}

.header {
	width: 100%
}	

.top_box_navigation {
    background: #000000; /*.background="color image repeat attachment position" */
    height: 30px;
    padding-left: 5px;
    width: 910px;
	/*border-top-left-radius: 15px;
    border-top-right-radius: 15px; //NOT compatible with css2*/
	padding-top: 15px;
	padding-bottom: 2px;
	text-align:justify;
}


.top_box_header {
    background: #000000; 
    height: 42px;
    padding-left: 15px;
    width: 900px;
	/*border-top-left-radius: 15px;
    border-top-right-radius: 15px; //NOT compatible with css2*/
	text-align:justify;
	padding-top: 1px;
	padding-bottom: 2px;
}

.bottom_box_header {
    background: #0d030d;
    padding: 10px 15px;
    width: 885px;
	/*opacity: 0.5; //NOT compatible with css2*/
    margin-bottom: 10px; /*cleans the array around the element*/
	/*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; //NOT compatible with css2*/
}

.wrap {
    height: auto;
}

.top_box {
    background: #000000;
    height: 42px;
    padding-left: 15px;
	/*border-top-left-radius: 15px;
    border-top-right-radius: 15px; //Not compatible with css2*/
	text-align:justify;
	padding-top: 1px;
	padding-bottom: 2px;
}

.middle_box_small {
    background: #0d030d;
    padding: 10px 15px;
    width: 180px;
	/*opacity: 0.5; //NOT compatible with css2*/
}

.middle_box_medium {
    background: #0d030d;
    padding: 10px 15px;
    width: 424px;
	/*opacity: 0.5;//NOT compatible with css2*/
}

.middle_box_big {
    background: #0d030d; 
    padding: 10px 15px;
    width: 670px;
	/*opacity: 0.5; //NOT compatible with css2*/
}

.bottom_box {
    background: #0d030d;
    height: 25px;
    margin-bottom: 10px; /*cleans the array around the element*/
    width: 100%;
	/*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	opacity: 0.5; //NOT compatible with css2*/
}

.footer {
	height: 30px;
    width: 100%;
	margin-bottom: 1px;
	padding-top: 500px;
	
}

.center2 {
    float: left;
    margin: 0 5px 0 0; /* center the element - combine with width */
    width: 454px;
}

.right {
    float: left;
    margin: 0 5px 0 0; /* The margin clears an area around an element (outside the border). */
	width:700px;
}

.left {
    float: left;
	margin: 0 5px 0 0; /*top right bottom left*/
    height: 30px;
    width: 210px;
}

/*----------------------------------------------- NAVIGATION_MENU ------------------------------------------------*/

.menu {
    height: 20px;
    position: relative;
	padding: 0px; /*Set padding to 0px and(for cross-browser compatibility)*/ 
	margin: 0px;
}
.menu ul{
	margin-right:auto;
	margin-left:auto;
	width: 70%;
	position:absolute;
	padding: 0px; /*Set padding to 0px and(for cross-browser compatibility)*/ 
	margin: 0px; /*Set margin to 0px (for cross-browser compatibility)*/
}
.menu ul li{
	font-size:15px;
	font-weight:bold;
	display:inline;
	padding: 0px 10px;
	border-right: 1px solid #6b7272;	
}

.menu a{
	color: #DC0067;
	text-decoration:none;
}
.menu a:hover{
	color:#EAA61A;	
	text-decoration:none;
}

/*Log Out link and My Account*/
.rightMenu{
	left: 740px;
}

.last{
	border-right: 0px none #6b7272 !important;
}

span{
	color:#EAA61A;
}
/*---------------------------------------------------------SIDE_BAR_MENU------------------------------------------------------------*/

.submenu ul{
	margin-right:auto;
	margin-left:auto;
	width: 70%;
}
.submenu ul li{
	color:#CCCCCC;
	font-size:15px;
	font-weight:bold;
	padding: 0px 10px;	
}

.submenu ul li a{
	color: #DC0067;
	text-decoration:none;
}
.submenu ul li a:hover{
	color:#EAA61A;	
	text-decoration:none;
}

.submenu ul li a:active{
	color:#EAA61A;	
	text-decoration:none;
}

/*-------------------------------------------------------- Standard Conformance - Accessibility -------------------------------------------------*/

.valid{
	width: 100%;
    text-align: center;
	margin: 0px 10px 0px 0px;
	margin-top: 12px;
	float:left;
	position:relative;
	clear:both;
}

/*************************************************************
 *	
 *************************************************************/

